body{
    background-image: url("https://img.freepik.com/fotos-premium/macaco-narigudo-selvagem-ou-nasalis-larvatus-na-floresta-tropical-de-borneu-malasia_185094-22.jpg");
    background-size: cover;
}

h1{
    text-align: center;
    color: red;
}